@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
	/* DEFAULT COLORS ARE NOW DARK */
	--color-global-bg: #1f1f1f;
	--color-global-text: #ada7a4;
	--color-link: #e0e0e0;
	--color-accent: #e0e0e0;
	--color-accent-2: #e0e0e0;
	--color-quote: #ada7a4;

	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	html {
		/* 2. Hardcoded color-scheme to dark */
		color-scheme: dark;
		accent-color: var(--color-accent);
		scrollbar-gutter: stable;
		background-color: var(--color-global-bg);
		color: var(--color-global-text);

		font-size: 1.2rem;

		@media (min-width: 640px) {
			font-size: 1.4rem;
		}
	}

	:target {
		scroll-margin-block: 5ex;
	}
	@view-transition {
		navigation: auto;
	}
	:where([data-astro-image]) {
		object-fit: var(--fit);
		object-position: var(--pos);
	}
	[data-astro-image="full-width"] {
		width: 100%;
	}
	[data-astro-image="constrained"] {
		max-width: 100%;
	}
}

@layer components {
	.title {
		@apply text-accent-2 mb-8 font-sans text-3xl leading-none font-bold md:text-[40px] md:tracking-tight;
	}
}
